#format {
  background-color: #4287f5;
  color: black;
  font-weight: bold;
  font-size: 64px;
  height: 200px;
  padding-top: 100px;
  border: ridge blue;
}
table, th, td {
  text-align: left;
  border: 1px solid black;
  border-collapse: collapse;
}
tr {
  height: 45px;
}
form {
  height:100%;
  width:100%;
}
input {
    height:100%;
    width:48%;
    background-color: #4287f5;
    color: black;
    font-size: 38px;
    font-weight: bold;
    border: ridge blue;
}
input:hover {
  color: cyan;
  cursor: pointer;
}